
.container
  width: 100%
  margin-top: 2em
  border-left: none
  display: flex
  margin-bottom: 4em
  box-sizing: border-box
  outline: 2px solid rgba(236, 160, 72, .7)
  div
    outline: 1px solid rgba(236, 160, 72, .7)

.leftBox
  width: 80%
  height: 100%
  box-sizing: border-box

  div
    height: 80px
    display: flex
    align-items: center
    border-right: none
    border-top: none
    box-sizing: border-box
  p
    font-size: 24px
    padding-left: 5px
    color: #545454

.heading
  justify-content: center

.rightBox
  width: 20%
  height: 100%
  box-sizing: border-box
  div
    height: 80px
    display: flex
    align-items: center
    justify-content: center
    box-sizing: border-box
  p
    font-size: 24px
    color: rgba(236, 160, 72, .7)
    font-weight: bold

.headingRight
  p
   color: #545454
   font-weight: normal

@media screen and (max-width: 950px)
  .leftBox
    div
      height: 40px
      p
        font-size: 16px

  .rightBox
    div
      height: 40px
      p
        font-size: 16px

@media screen and (max-width: 550px)
  .container
    width: 100%
    height: auto
  .leftBox
    width: 65%
    div
      height: 30px
      p
        font-size: 12px

  .rightBox
    width: 35%
    div
      height: 30px
      p
        font-size: 12px
